.nav {
  width: 100%;
  display: flex;
  height: 60px;
  border-bottom: 0.5px solid rgb(77, 162, 242);
  align-items: center;
  justify-content: space-between;
}
.leftDiv {
  margin: 10px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightDiv {
  margin: 5px;
  margin-right: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navLinks button {
  border: 1px solid black;
  background-color: white;
  width: 70px;
  height: 30px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}
.navLinks button:hover {
  cursor: pointer;
  outline: none;
  outline: 2px solid rgb(77, 162, 242);
  outline-offset: 2px;
}
.navLinks button:active {
  transform: translateY(1px);
  outline: none;
  background-color: white;
}

.searchContainer {
  margin: 10px;
  width: 260px;
  display: flex;
  align-items: center;
  position: relative;
}
.searchIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 13px;
}
.searchContainer > input {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 25px;
  padding-left: 35px;
  background-color: rgb(237, 237, 237);
}

.searchContainer > input:focus {
  outline: none;
  border: 1px solid rgb(77, 162, 242);
  background-color: white;
}
